* {
  outline: 1px dashed red;
} 

.game {
  border: 1px solid blue;
  width: 1280px;
  height: 700px;
  margin: 0 auto;
}

.screen {
  margin: 20px auto 0 auto;
  width: 800px;
  height: 600px;
  background-color: rgba(255, 0, 0, 0.1);
}

.status {
  width: 800px;
  height: 75px;
}

.status > div {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 55px;
}

.status > div:not(:last-child) {
  margin-right: 96px;
}

.lives {
  font-size: 36px;
  text-align: center;
  padding-top: 20px;
}

.timer {
  padding-top: 20px;
  font-size: 36px;
  text-align: center;
  
}

.level {  
  padding-top: 20px;
  font-size: 36px;
  text-align: center;
} 

.scene {
  padding: 43px 13px 43px 13px;
  width: 774px;
  height: 437px;
}

/*
Картинки: 270*440(если 3), 390*440(если 2), k = 0.857(w), 0.859(h)
*/

.card1-1 {
  float: left;
  width: 250px;
  height: 42px;
  padding-top: 398px;
  margin-right: 11px;
}

.card1-2 {
  float: left;
  width: 250px;
  height: 42px;
  padding-top: 398px;
  margin-right: 11px;
}

.card1-3 {
  float: right;
  width: 250px;
  height: 42px;
  padding-top: 398px;
}

.card2-1 {
  position: relative;
  float: left;
  width: 385px;
  height: 42px;
  padding-top: 398px;
}

.card2-2{
  position: relative;
  float: right;
  width: 385px;
  height: 42px;
  padding-top: 398px;
  float: right;
}

.card-pic {
  cursor: pointer;
  z-index: 100;
  background-size: contain;
  background-image: url(file:///D:/JS/picPhoto/compact-image.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid blue;
  border-radius: 50%;
  float: left;
  width: 40px;
  height: 40px;
}

.card-pic-clicked {
  cursor: pointer;
  z-index: 100;
  background-size: contain;
  background-image: url(file:///D:/JS/picPhoto/compact-image.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid blue;
  border-radius: 50%;
  float: left;
  width: 50px;
  height: 50px;
}

.card-photo {
  cursor: pointer;
  z-index: 100;
  background-size: contain;
  background-image: url(file:///D:/JS/picPhoto/compact-camera.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid blue;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  float: right;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.clearfix::after {
  clear: both;
  display: table;
  content: '';
}

.hidden {
  display: none;
}
