/* * {
  outline: 1px dashed red;
} 
 */
.game {
  border: 1px solid blue;
  width: 1280px;
  height: 700px;
  margin: 0 auto;
}

.screen {
  margin: 0 auto;
  width: 1280px;
  height: 700px;
}

.status {
  width: 1280px;
  height: 75px;
  border-bottom: 1px solid black;
}

.status > div {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 55px;
}

.lives {
  margin-right: 336px;
  font-size: 36px;
  text-align: center;
  padding-top: 20px;
}

.timer {
  margin-right: 336px;
  padding-top: 20px;
  font-size: 36px;
  text-align: center; 
}

.level {  
  padding-top: 20px;
  font-size: 36px;
  text-align: center;
} 

.scene {
  padding: 43px 13px 43px 13px;
  width: 1254px;
  height: 437px;
}

.card1-1 {
  outline: 10px ridge red;
  float: left;
  width: 410px;
  height: 42px;
  padding-top: 398px;
  margin-right: 11px;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-origin: padding-box;
  background-size: 410px 440px;
}

.card1-2 {
  outline: 10px ridge red;
  float: left;
  width: 410px;
  height: 42px;
  padding-top: 398px;
  margin-right: 11px;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-origin: padding-box;
  background-size: 410px 440px;
}

.card1-3 {
  outline: 10px ridge red;
  float: right;
  width: 410px;
  height: 42px;
  padding-top: 398px;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-origin: padding-box;
  background-size: 410px 440px;
}

.card2-1 {
  outline: 10px ridge red;
  position: relative;
  float: left;
  width: 560px;
  height: 42px;
  padding-top: 398px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 560px 440px;
}

.card2-2{
  outline: 10px ridge red;
  position: relative;
  float: right;
  width: 560px;
  height: 42px;
  padding-top: 398px;
  float: right;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 560px 440px;
}

.card-pic {
  cursor: pointer;
  z-index: 100;
  background-size: 30px 30px;
  background-image: url(file:///D:/JS/picPhoto/compact-image.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  float: left;
  width: 40px;
  height: 40px;
}

.card-pic:hover {
  background-size: 37px 37px;
}

.card-photo {
  cursor: pointer;
  z-index: 100;
  background-size: 30px 30px;
  background-image: url(file:///D:/JS/picPhoto/compact-camera.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  float: right;
}

.card-photo:hover {
  background-size: 37px 37px;
}

.chosen {
  border: 3px solid red;
}

.button {
  cursor: pointer;
  z-index: 100;
  background-color: rgba(0, 255, 0, 0.5);
  width: 100px;
  padding: 25px 15px 25px 15px;
  height: 20px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.start {
  text-align: center;
  width: 200px;
  margin-top: 196px;
}

.button:hover {
  border: 3px solid red;
}

.next-level.button {
  padding: 0 15px 25px 15px;
  text-align: center;
  font-size: 45px;
  margin-top: -175px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.clearfix::after {
  clear: both;
  display: table;
  content: '';
}

.hidden {
  visibility: hidden;
}
